<div class="row">
  <div class="col-sm-6">
    <h1>Math Affirm</h1>
    <%# change to bootstrap for auto-resizing, unknown how to target %>
    <%= image_tag("thinking-man.jpg", alt: "Thought Picture",
                  size: image_resize(2480.00, 2480.00, 15.00)) %>
                <h3>Mental growth through mathematics.</h3>
  </div>
  <div class="col-sm-6">
    <h3>Student of the Day</h3>
  </div>
</div>
