<% provide(:title, 'Globalgraphs Index') %>
<h2>Globalgraph Sequencing</h2>

<%# group by curriculum (actual globalgraph.txt scope) %>
<ul class="globalgraphs">
  <% curriculum = @globalgraphs.first.curriculum %>
  <li><%= curriculum %></li>
  <ol>
  <% @globalgraphs.each do |globalgraph| %>
      <% unless globalgraph.context == 'category_introduction' %>
        <li><%= link_to globalgraph.context,
          graph_path(globalgraph.context) %></li>
      <% end %>
  <% end %>
  </ol>
</ul>
