<div class="container">
  <% provide(:title, 'Problems Index') %>
  <h2>All Problems</h2>

  <%= will_paginate %>

  <ul class="problems">
    <% @problems.each do |problem| %>
      <li>
        <%= link_to problem.filename, problem %>
        <% if is_teacher %>
          | <%= link_to "edit", edit_problem_url(problem.id) %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate %>
</div>
