<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<% graphInfo = Graph.find_by(file_id: @problem.id,
                             typ: 'prob') %>
<% batchNumber = graphInfo.batch %>
<% orderNumber = graphInfo.order %>
<h4><%= 'Problem Group: '+batchNumber.to_s %></h4>
<h4><%= 'Problem: '+orderNumber.to_s %></h4>
<%== @problem.text %>
<%== @problem.answer.interface %>
<%# now have buttons for hints and answering %>
