<h2>Current Unlocks</h2>
<% if @contexts.empty? %>
  <h4><%= 'Congratulations, you\'ve completed the '+@category+' category.' %></h4>
  <%= link_to 'Next Category', resume_path, method: :post%>
<% else %>
  <h3><%= "Category: #{@category}" %></h3>
<% end %>
<%# TODO sort by globalgraph order %>
<% @contexts.each do |context| %>
  <p><%= link_to context, next_path(context: context) %></p>
<% end %>
