<h2>Your Unlocked Theories</h2>
<%# for every category, for every context in that category %>
<% @categories.each do |category| %>
  <h4><%= 'Category: '+category %></h4>
  <% @theories.each do |theory| %>
    <% if theory.category == category %>
      <p><%= link_to theory.context+'/'+theory.filename,
        theory_path(theory.id) %></p>
    <% end %>
  <% end %>
<% end %>
