  <div class="row">
    <%# main content here %>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <% @directories.each do |category, context_list| %>
        <div class="row theory-index-category-row">
          <h2 class="text-center"><%= $PPC[category] %></h2>
          <% context_list.each do |context| %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h4><%= $PPS[context] %></h4>
              <ol>
                <% unlocks = @unlocked_theories.where(category: category, context: context) %>
                <% unlocks.each do |unlock| %>
                  <% theory = Theory.find(unlock.theory_id) %>
                  <li><%= link_to theory.filename, view_path(theory.id) %></li>
                <% end %>
              </ol>
            </div>
          <% end %>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
