<h2>Your Unlocked Theories</h2>
<% @unlocked_list.each do |theory| %>
  <p><%= 'Category: '+theory.category %></p>
  <p><%= 'Context: '+theory.context %></p>
  <p><%= link_to theory.filename, theory_path(theory.id) %></p>
<% end %>
