<%# TODO move problem content into a partial %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="problem_statement">
<%== @problem.text %>
</div>
<%# TODO multiple display hints buttons and hints themselves %>

<%# TODO select proper interface for answering a problem %>
<%# NOTE interface for answering the problem %>
<%= form_tag do %>
  <%# NOTE user input hashed under :ans from 0...n %>
  <%== boxes_interface(@problem.answer.interface) %>
  <%= submit_tag("Evaluate") %>
<% end %>
