<%# TODO determine what should be partials (obvious sections: problem, hint, %>
<%# answer) %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<div class="problem_statement">
<%== @problem.text %>
</div>
<%# TODO use helper to check if any hints remain of type T %>
<%# TODO code for displaying button(s) asking for hints of type(s) T %>
<%# button will call answers controller's get_hint to do DB work and redraw page %>
<%# TODO code for no hints remaining of type T %>

<%# TODO use helper to display hint(s) unlocked by user %>

<%# TODO select proper interface for answering a problem %>
<%# NOTE interface for answering the problem %>
<%= form_tag do %>
  <%# NOTE user input hashed under :ans from 0...n %>
  <%== boxes_interface(@problem.answer.interface) %>
  <%= submit_tag("Evaluate") %>
<% end %>
