<div class="container">
  <% provide(:title, 'Theories Index') %>
  <h2>All Theories</h2>

  <%= will_paginate %>

  <ul class="theories">
    <% @theories.each do |theory| %>
      <li>
        <%= link_to theory.filename, theory %>
        <% if is_teacher %>
          | <%= link_to "edit", edit_theory_url(theory.id) %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%= will_paginate %>
</div>
