<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<%# TODO add name of theory to title %>
<% provide(:title, 'Theory') %>

<h2>filname</h2>
<p><%= @filename %></p>

<h2>theory text</h2>
<p><%== @text %></p>
