<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>
<%# TODO pretty name %>
<% provide(:title, "#{@theory.filename}") %>

<h4><%= @theory.filename %></h4>

<%== @theory.text %>
<%# temporary hack to get mathjax to typeset the page after page loaded %>
<script>
  MathJax.Hub.Typeset();
</script>
