<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<%# TODO pretty name %>
<% provide(:title, "#{@theory.filename}") %>

<h2>Filename</h2>
<p><%= @theory.filename %></p>

<p><%== @theory.text %></p>

<% if @first_viewing %>
  <p><%= link_to @theory.context, next_path(context: @theory.context) %></p>
<% end %>
