#logo {
  float: left;
  // margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

// #math_affirm_logo {
  // margin-left: 100px;
// }

// #math_affirm_navbar {
  // margin-right: 100px;
// }
