<%provide(:title, 'Curriculum')%>
<h2>Life to Math</h2>
<%= link_to 'Start Here', curriculum_categories_path %>
<h2>Let's Count</h2>
<%= link_to '(Dead Link Until Globalgraph and Graphs Made)', '#' %>
