<%provide(:title, 'Curriculum')%>
<h3>Problems</h3>
<ul><li><%= link_to 'Problems', problems_path %></li></ul>
<h3>Theories</h3>
<ul><li><%= link_to 'Theories', theories_index_path %></li></ul>
<h3>Graphs</h3>
<ul>
  <li><%= link_to 'Globalgraphs', globalgraphs_path %></li>
  <li><%= link_to 'Graphs (DEAD LINK)', '#' %></li>
</ul>
